---
api:
    enabled: true
    service:
        type: LoadBalancer
    adminAccount:
        enabled: true
        passwordHash: "{{ env "KARGO_ADMIN_PASSWORD_HASH" }}"
        tokenSigningKey: "{{ env "KARGO_ADMIN_TOKEN_SIGNING_KEY" }}"
    tls:
        enabled: true
        selfSignedCert: falsecd